@page "/Account/cpr"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@using System.Security.Cryptography
@using System.Text
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Log in</PageTitle>

<div class="row">
    <div class="col-lg-6" style="margin:0 auto;text-align:center;">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm EditContext="editContext" method="post" OnSubmit="SaveCpr" FormName="cpr">
                <DataAnnotationsValidator />
                <h2>Angive dit Cpr.nr.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Cpr" id="Input.Cpr" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="xxxxxxxxxx" />
                    <label for="Input.Cpr" class="form-label">Cpr</label>
                    <ValidationMessage For="() => Input.Cpr" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task SaveCpr()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        byte[] hashedCprAsByteArry = Rfc2898DeriveBytes.Pbkdf2(Input.Cpr, Encoding.UTF8.GetBytes("230271"), 10, HashAlgorithmName.SHA256, 32);
        string hashedCpr = Convert.ToBase64String(hashedCprAsByteArry);

        bool validationPass = true;
        if(user.CPRNr == null)
        {
            user.CPRNr = hashedCpr;
            await UserManager.UpdateAsync(user);
        }
        else
        {
            validationPass = user.CPRNr == hashedCpr;
        }

        if (validationPass)
            RedirectManager.RedirectTo(ReturnUrl);
        else
        {
            errorMessage = "Error: Invalid Cpr.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        public string Cpr { get; set; } = "";
    }
}
