@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="page" style="min-height:100vh; display:flex; flex-direction:column;">
    <main style="display:flex; flex-direction:column; flex:1;">
        <div class="top-row px-4" style="display:flex; align-items:center;">
            @if (_isAdmin)
            {
                <a href="/addroles">Add role</a>
            }
            
            <div class="nav-item px-3" style="display:flex; align-items:center; white-space:nowrap;">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div style="margin-left:auto; display:flex; align-items:center;">
                @if (_isAdmin)
                {
                    <span>[Admin]</span>
                }
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3" style="display:flex; align-items:center; white-space:nowrap;">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </div>
                        <div style="display:inline-block;width:2px;height:14px;background-color:black;vertical-align:middle;"></div>
                        <div class="nav-item px-3" style="margin-left:-25px;">
                            <NavLink class="nav-link" href="Account/RegisterPasswordless">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register (Passwordless)
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/LoginPasswordless">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login (Passwordless)
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4" style="margin:0 auto; text-align:center; flex:1;width:60%;">
            @Body
        </article>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2026 - Albertslund kommune
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string? currentUrl;
    private bool _isAuthenticated;
    private bool _isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var stateProvider = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _isAuthenticated = stateProvider.User.Identity.IsAuthenticated;
        _isAdmin = stateProvider.User.IsInRole("Admin");

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}